@charset "utf-8";
/*
FuzzBead Quiz
    Project Manager: Daniel Garcia
    Web Developer: Christian Harwood
    Web Designer: Rami Hadey
    Content Designers: Brandon Santizo, Dominic Torres
*/
/*HTML and Body Styles*/
html{
    background: radial-gradient(rgb(46, 238, 46), black);
    width: 100%;
    
}
body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    color: black;
}
body{
    box-shadow: rgb(0,0,0) 15px 0px 15px,
     rgb(0,0,0) -15px 0px 15px;
}
/*H1 Styles*/
h1#title{
    text-align: center;
    padding: 30px;
    background: grey;
    padding-top: 10px;
}
h1{
    text-align: center; 
    font-family: Diamond, serif;
    background: grey; 

}
h1 a:visited, a:link{
    text-decoration: none;
    color: rgb(46, 238, 46);
    background: none;
}
img{
    width: 100px;
}
/*Div Styles*/
.row::after{
    display: table;
    clear: both;
    content: "";
}
div.col-0{
    width: 0%
}
div.col-100{
    width: 100%;
}
div.col-1-4{
    width: 25%;
}
div[class^="col-"]{
    float: right;
}
/*Nav Styles*/
ul{
    padding: 0;
}
nav ul{
    margin-right: auto;
    margin-left: auto;
}
nav ul li{
    text-align: center;
    list-style-type: none;
}
nav li a:visited, a:link{
    
    color: black;
}
nav li a:hover, a:active{
    background: black;
    color: rgb(46,283,46);
}
nav div{
    background: rgb(46, 238, 46);
    outline: 1px solid black;
    display: block;
}
nav div:hover, a:hover{
    background: black;
    color: rgb(46, 238, 46);
}
/*aside styles*/
article#result{
    text-align: center;
}
article#result ul li{
    list-style-type: none;
}
/*footer styles*/
footer{
    text-align: center;
    background: grey;
    padding-top: 10px;
    padding-bottom: 10px;
}
