@charset "utf-8";
/*
FuzzBead Quiz
    Project Manager: Daniel Garcia
    Web Developer: Christian Harwood
    Web Designer: Rami Hadey
    Content Designers: Brandon Santizo, Domonic Torres
*/
/*HTML and Body Styles*/
html{
    background: radial-gradient(rgb(46, 238, 46), black);
    width: 100%;
    
}
body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    color: black;
}
/*H1 Styles*/
h1#title{
    text-align: center;
    padding: 30px;
    background: grey;
    padding-top: 10px;
}
h1{
    text-align: center; 
    font-family: Diamond, serif; 
    background: grey;
}
h1 a:visited, a:link{
    text-decoration: none;
    color: rgb(46, 238, 46);
    background: none;
}
h1 a:hover, a:active{
    background: black;
    color: rgb(46, 238, 46);
}
img{
    width: 100px;
}
/*Div Styles*/
.row::after{
    clear: both;
    content: "";
    display: table;
}
div[class^="col-"]{
    float: left;
}
div#col-100{
    width: 100%;
}
div#col-0{
    width:0%;
}
div[id^="col-"]{
    float: right;
}
/* div{
    outline: 1px solid red;
} */
img{
    width: 100px;
}
h3{
    text-align: center;
    background: grey;
}
h2{
    text-align: center;
    background: grey;
}
div.col-1-4{
    width: 25%;
}
div.col-1-4 h1{
    color: white;
    background: none;
}
ul{
    padding: 0;
    list-style-type: none;
}
div li a img {
    display: block;
    margin:auto;
    width: 200px;
    height: 300px;
}
div p {
    text-align: center;
}
/*Footer Styles*/
footer{
    text-align: center;
    background: grey;
    padding-top: 10px;
    padding-bottom: 10px;
}
